n8n_workflow_helpdesk.json
{
  "name": "Smart Helpdesk - Snowflake Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "helpdesk",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "helpdesk"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT SNOWFLAKE.CORTEX.DATA_AGENT_RUN(\n  'HELPDESK_DB.APP.HELPDESK_AGENT',\n  [\n    {\n      'role': 'user',\n      'content': '{{ $json.body.message }}'\n    }\n  ],\n  {}\n) AS agent_response"
      },
      "id": "snowflake-agent",
      "name": "Call Cortex Agent",
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": {
        "snowflake": {
          "id": "snowflake-cred",
          "name": "Snowflake - FSI Japan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\ntry {\n  const agentResponse = JSON.parse(response.AGENT_RESPONSE || response.agent_response || '{}');\n  const messages = agentResponse.messages || [];\n  const lastMessage = messages[messages.length - 1] || {};\n  const content = lastMessage.content || '';\n  \n  let parsed = {};\n  try {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsed = JSON.parse(jsonMatch[0]);\n    }\n  } catch (e) {\n    parsed = { raw_response: content };\n  }\n  \n  return {\n    json: {\n      reporter_name: parsed.reporter_name || null,\n      department: parsed.department || null,\n      category: parsed.category || 'OTHER',\n      priority: parsed.priority || 'MEDIUM',\n      summary: parsed.summary || 'No summary',\n      details: parsed.details || [],\n      matched_asset_id: parsed.matched_asset_id || null,\n      can_resolve: parsed.priority !== 'HIGH',\n      original_message: $('Webhook').first().json.body?.message || '',\n      user_id: $('Webhook').first().json.body?.user_id || '',\n      channel_id: $('Webhook').first().json.body?.channel_id || '',\n      raw_response: content\n    }\n  };\n} catch (e) {\n  return {\n    json: {\n      error: e.message,\n      can_resolve: false,\n      original_message: $('Webhook').first().json.body?.message || '',\n      category: 'OTHER',\n      priority: 'HIGH',\n      summary: 'Parse error - escalating'\n    }\n  };\n}"
      },
      "id": "parse-response",
      "name": "Parse Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.can_resolve }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-resolve",
      "name": "Can AI Resolve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/triggers/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",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"response_type\": \"ai_response\",\n  \"channel_id\": \"{{ $json.channel_id }}\",\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"message\": \"🤖 *AI回答*\\n\\n*カテゴリ:* {{ $json.category }}\\n*優先度:* {{ $json.priority }}\\n*要約:* {{ $json.summary }}\\n\\n{{ $json.details ? $json.details.join('\\\\n') : '' }}\"\n}",
        "options": {}
      },
      "id": "slack-ai-response",
      "name": "Slack - AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO helpdesk_logs (log_type, message, category, priority, summary, created_at)\nVALUES (\n  'AI_RESPONSE',\n  '{{ $json.original_message }}',\n  '{{ $json.category }}',\n  '{{ $json.priority }}',\n  '{{ $json.summary }}',\n  NOW()\n)"
      },
      "id": "log-ai-response",
      "name": "Log AI Response",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1400, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "Postgres - Helpdesk"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO helpdesk_tickets (\n  employee_name,\n  department,\n  category,\n  priority,\n  status,\n  subject,\n  description,\n  created_at\n)\nVALUES (\n  '{{ $json.reporter_name || \"Unknown\" }}',\n  '{{ $json.department || \"Unknown\" }}',\n  '{{ $json.category }}',\n  '{{ $json.priority }}',\n  'OPEN',\n  '{{ $json.summary }}',\n  '{{ $json.original_message }}',\n  NOW()\n)\nRETURNING ticket_id"
      },
      "id": "create-ticket",
      "name": "Create Ticket",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "Postgres - Helpdesk"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO helpdesk_logs (log_type, ticket_id, message, category, priority, summary, created_at)\nVALUES (\n  'ESCALATION',\n  {{ $json.ticket_id }},\n  '{{ $('Parse Agent Response').first().json.original_message }}',\n  '{{ $('Parse Agent Response').first().json.category }}',\n  '{{ $('Parse Agent Response').first().json.priority }}',\n  '{{ $('Parse Agent Response').first().json.summary }}',\n  NOW()\n)"
      },
      "id": "log-escalation",
      "name": "Log Escalation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1400, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "Postgres - Helpdesk"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/triggers/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",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"response_type\": \"escalation\",\n  \"channel_id\": \"{{ $('Parse Agent Response').first().json.channel_id }}\",\n  \"user_id\": \"{{ $('Parse Agent Response').first().json.user_id }}\",\n  \"message\": \"🚨 *エスカレーション*\\n\\n*チケットID:* #{{ $('Create Ticket').first().json.ticket_id }}\\n*カテゴリ:* {{ $('Parse Agent Response').first().json.category }}\\n*優先度:* {{ $('Parse Agent Response').first().json.priority }}\\n*要約:* {{ $('Parse Agent Response').first().json.summary }}\\n\\n担当者に通知しました。\"\n}",
        "options": {}
      },
      "id": "slack-escalation",
      "name": "Slack - Escalation Notice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Slack": {
      "main": [
        [
          {
            "node": "Call Cortex Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Cortex Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Response": {
      "main": [
        [
          {
            "node": "Can AI Resolve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can AI Resolve?": {
      "main": [
        [
          {
            "node": "Slack - AI Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - AI Response": {
      "main": [
        [
          {
            "node": "Log AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ticket": {
      "main": [
        [
          {
            "node": "Log Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Escalation": {
      "main": [
        [
          {
            "node": "Slack - Escalation Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "pinData": {}
}
