Smart_Helpdesk___Snowflake_Agent copy.json
{
  "name": "Smart Helpdesk - Snowflake Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "helpdesk",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "67f7033b-6c51-43a1-9d8a-4ef51aaa1e6f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -944,
        -192
      ],
      "webhookId": "helpdesk"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": {}
      },
      "id": "0280e4f5-bad8-4167-8a65-83ae0e61d7fd",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -736,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT SNOWFLAKE.CORTEX.DATA_AGENT_RUN(\n  'HELPDESK_DB.APP.HELPDESK_AGENT',\n  '{\"messages\": [{\"role\": \"user\", \"content\": [{\"type\": \"text\", \"text\": \"{{ $json.body.message }}\"}]}]}'\n) AS response;"
      },
      "id": "56f1942d-6dc4-4583-b3b8-66b9ac091819",
      "name": "Call Cortex Agent",
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [
        -544,
        -192
      ],
      "credentials": {
        "snowflake": {
          "id": "y23VaUVNHhdumfkZ",
          "name": "Snowflake account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\ntry {\n  const agentResponse = JSON.parse(response.AGENT_RESPONSE || response.agent_response || '{}');\n  const messages = agentResponse.messages || [];\n  const lastMessage = messages[messages.length - 1] || {};\n  const content = lastMessage.content || '';\n  \n  let parsed = {};\n  try {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsed = JSON.parse(jsonMatch[0]);\n    }\n  } catch (e) {\n    parsed = { raw_response: content };\n  }\n  \n  return {\n    json: {\n      reporter_name: parsed.reporter_name || null,\n      department: parsed.department || null,\n      category: parsed.category || 'OTHER',\n      priority: parsed.priority || 'MEDIUM',\n      summary: parsed.summary || 'No summary',\n      details: parsed.details || [],\n      matched_asset_id: parsed.matched_asset_id || null,\n      can_resolve: parsed.priority !== 'HIGH',\n      original_message: $('Webhook').first().json.body?.message || '',\n      user_id: $('Webhook').first().json.body?.user_id || '',\n      channel_id: $('Webhook').first().json.body?.channel_id || '',\n      raw_response: content\n    }\n  };\n} catch (e) {\n  return {\n    json: {\n      error: e.message,\n      can_resolve: false,\n      original_message: $('Webhook').first().json.body?.message || '',\n      category: 'OTHER',\n      priority: 'HIGH',\n      summary: 'Parse error - escalating'\n    }\n  };\n}"
      },
      "id": "0543556e-3cfb-46d5-b8a8-d795f52bb4bb",
      "name": "Parse Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.can_resolve }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d9c86997-4ff9-4873-a038-f8258aa0e263",
      "name": "Can AI Resolve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        -192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/triggers/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",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"response_type\": \"ai_response\",\n  \"channel_id\": \"{{ $json.channel_id }}\",\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"ai_response\": \"🤖 *AI回答*\\n\\n*カテゴリ:* {{ $json.category }}\\n*優先度:* {{ $json.priority }}\\n*要約:* {{ $json.summary }}\\n\\n{{ $json.details ? $json.details.join('\\\\n') : '' }}\"\n}",
        "options": {}
      },
      "id": "cf387f20-6a13-444e-b698-ce42e41d2f22",
      "name": "Slack - AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        -288
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO helpdesk_logs (log_type, message, category, priority, summary, created_at)\nVALUES (\n  'AI_RESPONSE',\n  '{{ $json.original_message }}',\n  '{{ $json.category }}',\n  '{{ $json.priority }}',\n  '{{ $json.summary }}',\n  NOW()\n)",
        "options": {}
      },
      "id": "a436235b-b084-4736-bb02-d5b12a44654c",
      "name": "Log AI Response",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        272,
        -288
      ],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO helpdesk_tickets (\n  employee_name,\n  department,\n  category,\n  priority,\n  status,\n  subject,\n  description,\n  created_at\n)\nVALUES (\n  '{{ $json.reporter_name || \"Unknown\" }}',\n  '{{ $json.department || \"Unknown\" }}',\n  '{{ $json.category }}',\n  '{{ $json.priority }}',\n  'OPEN',\n  '{{ $json.summary }}',\n  '{{ $json.original_message }}',\n  NOW()\n)\nRETURNING ticket_id",
        "options": {}
      },
      "id": "1dd6163d-625f-42d5-ac5d-afa141ab502c",
      "name": "Create Ticket",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        64,
        -96
      ],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO helpdesk_logs (log_type, ticket_id, message, category, priority, summary, created_at)\nVALUES (\n  'ESCALATION',\n  {{ $json.ticket_id }},\n  '{{ $('Parse Agent Response').first().json.original_message }}',\n  '{{ $('Parse Agent Response').first().json.category }}',\n  '{{ $('Parse Agent Response').first().json.priority }}',\n  '{{ $('Parse Agent Response').first().json.summary }}',\n  NOW()\n)",
        "options": {}
      },
      "id": "8635a139-f947-482e-9930-08c590506d7f",
      "name": "Log Escalation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        272,
        -96
      ],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/triggers/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",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"response_type\": \"escalation\",\n  \"channel_id\": \"{{ $('Parse Agent Response').first().json.channel_id }}\",\n  \"user_id\": \"{{ $('Parse Agent Response').first().json.user_id }}\",\n  \"message\": \"🚨 *エスカレーション*\\n\\n*チケットID:* #{{ $('Create Ticket').first().json.ticket_id }}\\n*カテゴリ:* {{ $('Parse Agent Response').first().json.category }}\\n*優先度:* {{ $('Parse Agent Response').first().json.priority }}\\n*要約:* {{ $('Parse Agent Response').first().json.summary }}\\n\\n担当者に通知しました。\"\n}",
        "options": {}
      },
      "id": "1e5dadc9-7ee4-4ba6-9190-9c0ef0d79d0e",
      "name": "Slack - Escalation Notice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        -96
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "message": "パソコンが起動しません。電源ボタンを押しても反応がありません。",
            "user_id": "U123",
            "channel_id": "C123"
          }
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Slack": {
      "main": [
        [
          {
            "node": "Call Cortex Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Cortex Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Response": {
      "main": [
        [
          {
            "node": "Can AI Resolve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can AI Resolve?": {
      "main": [
        [
          {
            "node": "Slack - AI Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - AI Response": {
      "main": [
        [
          {
            "node": "Log AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ticket": {
      "main": [
        [
          {
            "node": "Log Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Escalation": {
      "main": [
        [
          {
            "node": "Slack - Escalation Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "30488fa2-7243-4cf3-9d5b-cf8545ccfaac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbec573c5b0279529dac49102680520d48f79d9a8b6d53b18863248a9b7c9ed3"
  },
  "id": "QKbs106YKjjZNUjC",
  "tags": [
    {
      "updatedAt": "2026-02-27T02:53:37.533Z",
      "createdAt": "2026-02-27T02:53:37.533Z",
      "id": "yRdjhohZdPLjHHdU",
      "name": "helpdesk"
    },
    {
      "updatedAt": "2026-02-27T02:53:37.543Z",
      "createdAt": "2026-02-27T02:53:37.543Z",
      "id": "v3jCG1pTmrLtT8ka",
      "name": "webhook"
    }
  ]
}