Smart_Helpdesk___Snowflake_Agent.json
{
  "name": "Smart Helpdesk - Snowflake Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "helpdesk",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "67f7033b-6c51-43a1-9d8a-4ef51aaa1e6f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1100,
        -200
      ],
      "webhookId": "helpdesk"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": {}
      },
      "id": "0280e4f5-bad8-4167-8a65-83ae0e61d7fd",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -900,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.helpdesk_logs (log_type, user_id, channel_id, message, thread_ts, status, created_at)\nVALUES (\n  'INQUIRY',\n  '{{ $('Webhook').first().json.body.user_id }}',\n  '{{ $('Webhook').first().json.body.channel_id }}',\n  '{{ ($('Webhook').first().json.body.message || '').replace(/'/g, \"''\") }}',\n  '{{ $('Webhook').first().json.body.thread_ts || '' }}',\n  'OPEN',\n  NOW()\n)\nRETURNING id",
        "options": {}
      },
      "id": "log-inquiry-001",
      "name": "Log Inquiry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -700,
        -200
      ],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json.body;\nconst message = (webhookData.message || '').trim();\nconst logId = $('Log Inquiry').first().json.id;\nconst threadTs = webhookData.thread_ts || '';\n\nconst thankPatterns = [\n  /^(ありがとう|有難う|感謝|サンクス|thanks|thank you)/i,\n  /^(了解|りょうかい|わかりました|承知|ok|オッケー)/i,\n  /^(助かり|たすかり)/i\n];\n\nfor (const p of thankPatterns) {\n  if (p.test(message)) {\n    return {\n      json: {\n        skipAgent: true,\n        skipReason: 'thank_you',\n        message: message,\n        logId: logId,\n        threadTs: threadTs,\n        responseText: '👍 ご連絡ありがとうございます。他にご質問があればお気軽にどうぞ！'\n      }\n    };\n  }\n}\n\nconst infoPatterns = [\n  /^[\\d\\-]{4,}$/,\n  /^[\\w\\.\\-]+@[\\w\\.\\-]+\\.[a-z]{2,}$/i,\n  /^社員番号[はがを]?[:：\\s]*[\\d\\-]+$/,\n  /^(社員|従業員)?\\s*(番号|No\\.?|ナンバー)[はがを]?[:：\\s]*[\\d\\-]+$/i,\n  /^名前[はがを]?[:：\\s]*.{1,20}$/,\n  /^私[はが].{1,15}です$/,\n  /^(メール|メアド|email)[はがを]?[:：\\s]*[\\w\\.\\-]+@[\\w\\.\\-]+$/i,\n  /^電話[はがを]?[:：\\s]*[\\d\\-]+$/,\n  /^ログインID[はがを]?[:：\\s]*\\S+$/i,\n  /名前[はがをと].+[、,].*(ID|id|ユーザー|番号)/i,\n  /(ID|id|ユーザー|番号)[はがをと]?.+[、,].*名前/i,\n  /^.{2,10}[、,\\s]+(ID|id)?[：:]?\\s*[\\d]{5,}$/\n];\n\nfor (const p of infoPatterns) {\n  if (p.test(message)) {\n    return {\n      json: {\n        skipAgent: true,\n        skipReason: 'info_only',\n        message: message,\n        logId: logId,\n        threadTs: threadTs,\n        responseText: '📝 情報を受け取りました。担当者に連絡し、確認後ご連絡いたします。'\n      }\n    };\n  }\n}\n\nconst cleanMsg = message.replace(/[\\n\\r]/g, ' ').trim();\nif (cleanMsg.length <= 30 && /^[\\d\\w@\\.\\-]+$/.test(cleanMsg)) {\n  return {\n    json: {\n      skipAgent: true,\n      skipReason: 'short_data',\n      message: message,\n      logId: logId,\n      threadTs: threadTs,\n      responseText: '📝 情報を受け取りました。確認いたします。'\n    }\n  };\n}\n\nreturn {\n  json: {\n    skipAgent: false,\n    message: message,\n    logId: logId,\n    threadTs: threadTs\n  }\n};"
      },
      "id": "check-skip-agent-001",
      "name": "Check Skip Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json.skipAgent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-skip-agent-001",
      "name": "Skip Agent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE app.helpdesk_logs\nSET ai_response_text = '{{ $json.responseText }}',\n    category = 'INFO_RECEIVED',\n    log_type = 'INFO_RECEIVED'\nWHERE id = {{ $json.logId }}",
        "options": {}
      },
      "id": "update-log-skip-001",
      "name": "Update Log (Skip)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -100,
        -350
      ],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer xoxb-xxxx-xxxx-xxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Webhook').first().json.body.channel_id }}\",\n  \"thread_ts\": \"{{ $('Webhook').first().json.body.thread_ts }}\",\n  \"text\": \"{{ $('Check Skip Agent').first().json.responseText }}\"\n}",
        "options": {}
      },
      "id": "slack-skip-response-001",
      "name": "Slack - Skip Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        -350
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_type, message, ai_response_text, status\nFROM app.helpdesk_logs\nWHERE thread_ts = '{{ $('Webhook').first().json.body.thread_ts }}'\n  AND thread_ts != ''\n  AND log_type IN ('INQUIRY', 'AI_RESPONSE')\nORDER BY created_at ASC\nLIMIT 20",
        "options": {}
      },
      "id": "fetch-history-001",
      "name": "Fetch Conversation History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -100,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json.body;\nconst historyRows = $('Fetch Conversation History').all();\nconst currentMessage = webhookData.message;\n\nconst messages = [];\n\nfunction sanitizeText(text) {\n  if (!text) return '';\n  return String(text)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\"/g, '\\\\\"')\n    .replace(/\\n/g, '\\\\n')\n    .replace(/\\r/g, '\\\\r')\n    .replace(/\\t/g, '\\\\t');\n}\n\nfor (const row of historyRows) {\n  if (row.json.log_type === 'INQUIRY') {\n    messages.push({\n      role: 'user',\n      content: [{ type: 'text', text: sanitizeText(row.json.message) }]\n    });\n  } else if (row.json.log_type === 'AI_RESPONSE' && row.json.ai_response_text) {\n    messages.push({\n      role: 'assistant',\n      content: [{ type: 'text', text: sanitizeText(row.json.ai_response_text) }]\n    });\n  }\n}\n\nmessages.push({\n  role: 'user',\n  content: [{ type: 'text', text: sanitizeText(currentMessage) }]\n});\n\nconst payload = JSON.stringify({ messages });\nconst escapedPayload = payload.replace(/'/g, \"''\");\n\nreturn {\n  json: {\n    messages,\n    messageCount: messages.length,\n    isMultiTurn: messages.length > 1,\n    agentPayload: escapedPayload\n  }\n};"
      },
      "id": "build-messages-001",
      "name": "Build Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT SNOWFLAKE.CORTEX.DATA_AGENT_RUN(\n  'HELPDESK_DB.APP.HELPDESK_AGENT',\n  '{{ $json.agentPayload }}'\n) AS response;"
      },
      "id": "56f1942d-6dc4-4583-b3b8-66b9ac091819",
      "name": "Call Cortex Agent",
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [
        300,
        -100
      ],
      "credentials": {
        "snowflake": {
          "id": "y23VaUVNHhdumfkZ",
          "name": "Snowflake account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\nconst logId = $('Log Inquiry').first().json.id;\nconst messageInfo = $('Build Messages').first().json;\n\ntry {\n  const agentResponse = JSON.parse(response.RESPONSE || response.response || '{}');\n  \n  const metadata = agentResponse.metadata || {};\n  const tokensConsumed = metadata.usage?.tokens_consumed?.[0] || {};\n  const tokensInput = tokensConsumed.input_tokens?.total || 0;\n  const tokensOutput = tokensConsumed.output_tokens?.total || 0;\n  const modelName = tokensConsumed.model_name || 'unknown';\n  \n  const contentArray = agentResponse.content || [];\n  \n  const toolResult = contentArray.find(c => c.type === 'tool_result');\n  const searchResults = toolResult?.tool_result?.content?.[0]?.json?.search_results || [];\n  const matchedKbIds = searchResults.map(r => r.id || r.kb_id).filter(Boolean).join(',');\n  const confidenceScores = searchResults.map(r => ({\n    id: r.id || r.kb_id,\n    score: parseFloat(r['@CONFIDENCE_SCORE'] || r.columns?.['@CONFIDENCE_SCORE'] || '0'),\n    text: (r.text || r.question || '').substring(0, 100)\n  }));\n  \n  const textContent = contentArray.find(c => c.type === 'text');\n  const content = textContent?.text || '';\n  \n  let parsed = {};\n  let aiResponseText = '';\n  \n  const jsonMatch = content.match(/```json\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[1]);\n    } catch (e) {\n      const rawMatch = content.match(/\\{[\\s\\S]*\"escalation_team\"[\\s\\S]*?\\}/);\n      if (rawMatch) parsed = JSON.parse(rawMatch[0]);\n    }\n    aiResponseText = content.split('```').pop()?.trim().replace(/^[-\\s]+/, '') || '';\n  } else {\n    const rawMatch = content.match(/\\{[\\s\\S]*\"response\"[\\s\\S]*?\\}/);\n    if (rawMatch) {\n      try { parsed = JSON.parse(rawMatch[0]); } catch(e) {}\n    }\n    aiResponseText = content;\n  }\n  \n  const summary = parsed.summary || '問い合わせ';\n  const category = parsed.category || 'OTHER';\n  const priority = parsed.priority || 'MEDIUM';\n  const needsEscalation = parsed.needs_escalation || false;\n  const escalationTeam = parsed.escalation_team || null;\n  \n  const turnNumber = Math.ceil(messageInfo.messageCount / 2) || 1;\n  \n  return {\n    json: {\n      inquiry_log_id: logId,\n      user_id: webhookData.user_id,\n      channel_id: webhookData.channel_id,\n      thread_ts: webhookData.thread_ts,\n      original_message: webhookData.message,\n      summary: summary,\n      category: category,\n      priority: priority,\n      needs_escalation: needsEscalation,\n      escalation_team: escalationTeam,\n      ai_response_text: aiResponseText,\n      raw_response: content,\n      matched_kb_ids: matchedKbIds,\n      confidence_scores: JSON.stringify(confidenceScores),\n      tokens_input: tokensInput,\n      tokens_output: tokensOutput,\n      model_name: modelName,\n      raw_agent_response: JSON.stringify(agentResponse),\n      turn_number: turnNumber,\n      is_multi_turn: messageInfo.isMultiTurn\n    }\n  };\n} catch (e) {\n  return {\n    json: {\n      inquiry_log_id: logId,\n      user_id: webhookData.user_id,\n      channel_id: webhookData.channel_id,\n      thread_ts: webhookData.thread_ts,\n      original_message: webhookData.message,\n      summary: 'パースエラー',\n      category: 'OTHER',\n      priority: 'MEDIUM',\n      needs_escalation: false,\n      escalation_team: null,\n      ai_response_text: 'エラーが発生しました',\n      raw_response: String(e),\n      matched_kb_ids: '',\n      confidence_scores: '[]',\n      tokens_input: 0,\n      tokens_output: 0,\n      model_name: 'unknown',\n      raw_agent_response: JSON.stringify(response),\n      turn_number: 1,\n      is_multi_turn: false\n    }\n  };\n}"
      },
      "id": "0543556e-3cfb-46d5-b8a8-d795f52bb4bb",
      "name": "Parse Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.helpdesk_logs (\n  log_type, inquiry_id, user_id, channel_id, message, category, priority, summary,\n  ai_response, ai_response_text, resolution_steps, needs_escalation, escalation_team,\n  matched_kb_ids, confidence_scores, tokens_input, tokens_output, model_name,\n  raw_agent_response, thread_ts, turn_number, is_multi_turn, status, created_at\n)\nVALUES (\n  'AI_RESPONSE',\n  {{ $json.inquiry_log_id }},\n  '{{ $json.user_id }}',\n  '{{ $json.channel_id }}',\n  '{{ $json.original_message.replace(/'/g, \"''\") }}',\n  '{{ $json.category }}',\n  '{{ $json.priority }}',\n  '{{ ($json.summary || \"\").replace(/'/g, \"''\") }}',\n  '{{ ($json.raw_response || \"\").replace(/'/g, \"''\") }}',\n  '{{ ($json.ai_response_text || \"\").replace(/'/g, \"''\") }}',\n  '{{ $json.resolution_steps || \"[]\" }}'::jsonb,\n  {{ $json.needs_escalation || false }},\n  {{ $json.escalation_team ? \"'\" + $json.escalation_team + \"'\" : \"NULL\" }},\n  '{{ $json.matched_kb_ids || \"\" }}',\n  '{{ $json.confidence_scores || \"[]\" }}'::jsonb,\n  {{ $json.tokens_input || 0 }},\n  {{ $json.tokens_output || 0 }},\n  '{{ $json.model_name || \"unknown\" }}',\n  '{{ ($json.raw_agent_response || \"{}\").replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.thread_ts }}',\n  {{ $json.turn_number || 1 }},\n  {{ $json.is_multi_turn || false }},\n  'IN_PROGRESS',\n  NOW()\n)\nRETURNING id",
        "options": {}
      },
      "id": "a436235b-b084-4736-bb02-d5b12a44654c",
      "name": "Log AI Response",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        700,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer xoxb-xxxx-xxxx-xxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function() {\n  const turnNumber = $('Parse Agent Response').first().json.turn_number || 1;\n  const isFirstTurn = turnNumber === 1;\n  let aiText = ($('Parse Agent Response').first().json.ai_response_text || '').substring(0, 2900);\n  aiText = aiText.replace(/\\\\n/g, '\\n').replace(/\\\"/g, '\"');\n  const logId = $json.id;\n  const category = $('Parse Agent Response').first().json.category;\n  const priority = $('Parse Agent Response').first().json.priority;\n  const channelId = $('Parse Agent Response').first().json.channel_id;\n  const threadTs = $('Parse Agent Response').first().json.thread_ts;\n\n  const blocks = [\n    { type: 'section', text: { type: 'mrkdwn', text: ':robot_face: *AI回答*' } },\n    { type: 'section', text: { type: 'mrkdwn', text: aiText } },\n    { type: 'divider' },\n    { type: 'section', text: { type: 'mrkdwn', text: 'この回答は役に立ちましたか？' } }\n  ];\n\n  const actionElements = [\n    { type: 'button', text: { type: 'plain_text', text: '✅ 解決しました' }, style: 'primary', action_id: 'resolved', value: String(logId) }\n  ];\n\n  if (isFirstTurn) {\n    actionElements.push({ type: 'button', text: { type: 'plain_text', text: '🚨 有人対応へエスカレーション' }, style: 'danger', action_id: 'escalate', value: String(logId) });\n  }\n\n  blocks.push({ type: 'actions', block_id: 'helpdesk_feedback_' + logId, elements: actionElements });\n  blocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: '📝 ID: ' + logId + ' | 🎯 ' + category + ' | ⚡ ' + priority + ' | 💬 ターン' + turnNumber }] });\n\n  return JSON.stringify({ channel: channelId, thread_ts: threadTs, text: 'AI回答', blocks: blocks });\n})() }}",
        "options": {}
      },
      "id": "cf387f20-6a13-444e-b698-ce42e41d2f22",
      "name": "Slack - AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        -100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "helpdesk-evaluation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-evaluation-001",
      "name": "Webhook - Evaluation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        200
      ],
      "webhookId": "helpdesk-evaluation"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": {}
      },
      "id": "respond-evaluation-001",
      "name": "Respond to Evaluation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -500,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.helpdesk_logs (log_type, inquiry_id, user_id, channel_id, evaluation, evaluation_comment, thread_ts, created_at)\nVALUES (\n  'EVALUATION',\n  {{ $('Webhook - Evaluation').first().json.body.log_id || 'NULL' }},\n  '{{ $('Webhook - Evaluation').first().json.body.user_id }}',\n  '{{ $('Webhook - Evaluation').first().json.body.channel_id }}',\n  '{{ $('Webhook - Evaluation').first().json.body.evaluation }}',\n  '{{ $('Webhook - Evaluation').first().json.body.comment || '' }}',\n  '{{ $('Webhook - Evaluation').first().json.body.thread_ts || '' }}',\n  NOW()\n)\nRETURNING id",
        "options": {}
      },
      "id": "log-evaluation-001",
      "name": "Log Evaluation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -300,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-escalate",
              "leftValue": "={{ $('Webhook - Evaluation').first().json.body.evaluation }}",
              "rightValue": "escalate",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-escalate-001",
      "name": "Need Escalation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -100,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE app.helpdesk_logs\nSET status = 'ESCALATED'\nWHERE id = {{ $('Webhook - Evaluation').first().json.body.log_id }};\n\nWITH log_data AS (\n  SELECT message, category, priority, summary, user_id, thread_ts\n  FROM app.helpdesk_logs\n  WHERE id = {{ $('Webhook - Evaluation').first().json.body.log_id }}\n)\nINSERT INTO app.helpdesk_tickets (\n  ticket_id,\n  reporter_name,\n  issue_type,\n  urgency,\n  summary,\n  source_channel,\n  status,\n  thread_ts,\n  log_id,\n  created_at\n)\nSELECT\n  'TKT-' || TO_CHAR(NOW(), 'YYYYMMDD-HH24MISS'),\n  COALESCE(user_id, 'Unknown'),\n  COALESCE(category, 'OTHER'),\n  COALESCE(priority, 'MEDIUM'),\n  COALESCE(summary, 'Escalated from AI'),\n  'slack',\n  'OPEN',\n  thread_ts,\n  {{ $('Webhook - Evaluation').first().json.body.log_id }},\n  NOW()\nFROM log_data\nRETURNING ticket_id",
        "options": {}
      },
      "id": "create-ticket-001",
      "name": "Create Ticket",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        100,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer xoxb-xxxx-xxxx-xxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Webhook - Evaluation').first().json.body.channel_id }}\",\n  \"thread_ts\": \"{{ $('Webhook - Evaluation').first().json.body.thread_ts }}\",\n  \"text\": \"エスカレーション通知\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"🚨 *エスカレーション*\\n\\nチケット `{{ $json.ticket_id }}` を作成しました。\\n担当者に通知しました。\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "slack-escalation-001",
      "name": "Slack - Escalation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE app.helpdesk_logs\nSET status = 'RESOLVED',\n    resolved_at = NOW()\nWHERE id = {{ $('Webhook - Evaluation').first().json.body.log_id }};\n\nUPDATE app.helpdesk_logs\nSET status = 'RESOLVED'\nWHERE thread_ts = '{{ $('Webhook - Evaluation').first().json.body.thread_ts }}'\n  AND thread_ts != ''\n  AND status != 'RESOLVED';",
        "options": {}
      },
      "id": "mark-resolved-001",
      "name": "Mark Resolved",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        100,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer xoxb-xxxx-xxxx-xxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Webhook - Evaluation').first().json.body.channel_id }}\",\n  \"thread_ts\": \"{{ $('Webhook - Evaluation').first().json.body.thread_ts }}\",\n  \"text\": \"✅ 解決済みとして記録しました。ご利用ありがとうございました！\"\n}",
        "options": {}
      },
      "id": "slack-resolved-001",
      "name": "Slack - Resolved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        280
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "message": "パソコンが起動しません。電源ボタンを押しても反応がありません。",
            "user_id": "U123",
            "channel_id": "C123",
            "thread_ts": "1234567890.123456"
          }
        }
      }
    ],
    "Webhook - Evaluation": [
      {
        "json": {
          "body": {
            "log_id": 1,
            "user_id": "U123",
            "channel_id": "C123",
            "evaluation": "escalate",
            "comment": "解決できませんでした",
            "thread_ts": "1234567890.123456"
          }
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Slack": {
      "main": [
        [
          {
            "node": "Log Inquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Inquiry": {
      "main": [
        [
          {
            "node": "Check Skip Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Skip Agent": {
      "main": [
        [
          {
            "node": "Skip Agent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Agent?": {
      "main": [
        [
          {
            "node": "Update Log (Skip)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Log (Skip)": {
      "main": [
        [
          {
            "node": "Slack - Skip Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Conversation History": {
      "main": [
        [
          {
            "node": "Build Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Messages": {
      "main": [
        [
          {
            "node": "Call Cortex Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Cortex Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Response": {
      "main": [
        [
          {
            "node": "Log AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Response": {
      "main": [
        [
          {
            "node": "Slack - AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Evaluation": {
      "main": [
        [
          {
            "node": "Respond to Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Evaluation": {
      "main": [
        [
          {
            "node": "Log Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Evaluation": {
      "main": [
        [
          {
            "node": "Need Escalation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Escalation?": {
      "main": [
        [
          {
            "node": "Create Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ticket": {
      "main": [
        [
          {
            "node": "Slack - Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Resolved": {
      "main": [
        [
          {
            "node": "Slack - Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "30488fa2-7243-4cf3-9d5b-cf8545ccfaac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbec573c5b0279529dac49102680520d48f79d9a8b6d53b18863248a9b7c9ed3"
  },
  "id": "QKbs106YKjjZNUjC",
  "tags": [
    {
      "updatedAt": "2026-02-27T02:53:37.533Z",
      "createdAt": "2026-02-27T02:53:37.533Z",
      "id": "yRdjhohZdPLjHHdU",
      "name": "helpdesk"
    },
    {
      "updatedAt": "2026-02-27T02:53:37.543Z",
      "createdAt": "2026-02-27T02:53:37.543Z",
      "id": "v3jCG1pTmrLtT8ka",
      "name": "webhook"
    }
  ]
}