n8n_workflows/General_Helpdesk_Agent.json
{
  "name": "General Helpdesk - Snowflake Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "general",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "67f7033b-6c51-43a1-9d8a-4ef51aaa1e6f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1100, -200],
      "webhookId": "general"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": {}
      },
      "id": "0280e4f5-bad8-4167-8a65-83ae0e61d7fd",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-900, -200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.helpdesk_logs (log_type, user_id, channel_id, message, thread_ts, status, category, created_at)\nVALUES (\n  'INQUIRY',\n  '{{ $('Webhook').first().json.body.user_id }}',\n  '{{ $('Webhook').first().json.body.channel_id }}',\n  '{{ ($('Webhook').first().json.body.message || '').replace(/'/g, \"''\") }}',\n  '{{ $('Webhook').first().json.body.thread_ts || '' }}',\n  'OPEN',\n  'GENERAL',\n  NOW()\n)\nRETURNING id",
        "options": {}
      },
      "id": "log-inquiry-001",
      "name": "Log Inquiry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-700, -200],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json.body;\nconst message = (webhookData.message || '').trim();\nconst logId = $('Log Inquiry').first().json.id;\nconst threadTs = webhookData.thread_ts || '';\n\nconst thankPatterns = [\n  /^(ありがとう|有難う|感謝|サンクス|thanks|thank you)/i,\n  /^(了解|りょうかい|わかりました|承知|ok|オッケー)/i,\n  /^(助かり|たすかり)/i\n];\n\nfor (const p of thankPatterns) {\n  if (p.test(message)) {\n    return {\n      json: {\n        skipAgent: true,\n        skipReason: 'thank_you',\n        message: message,\n        logId: logId,\n        threadTs: threadTs,\n        responseText: '👍 ご連絡ありがとうございます。他にご質問があればお気軽にどうぞ！'\n      }\n    };\n  }\n}\n\nconst infoPatterns = [\n  /^[\\d\\-]{4,}$/,\n  /^[\\w\\.\\-]+@[\\w\\.\\-]+\\.[a-z]{2,}$/i,\n  /^社員番号[はがを]?[:：\\s]*[\\d\\-]+$/,\n  /^(社員|従業員)?\\s*(番号|No\\.?|ナンバー)[はがを]?[:：\\s]*[\\d\\-]+$/i,\n  /^名前[はがを]?[:：\\s]*.{1,20}$/,\n  /^私[はが].{1,15}です$/,\n  /^(メール|メアド|email)[はがを]?[:：\\s]*[\\w\\.\\-]+@[\\w\\.\\-]+$/i,\n  /^電話[はがを]?[:：\\s]*[\\d\\-]+$/,\n  /^ログインID[はがを]?[:：\\s]*\\S+$/i,\n  /名前[はがをと].+[、,].*(ID|id|ユーザー|番号)/i,\n  /(ID|id|ユーザー|番号)[はがをと]?.+[、,].*名前/i,\n  /^.{2,10}[、,\\s]+(ID|id)?[：:]?\\s*[\\d]{5,}$/\n];\n\nfor (const p of infoPatterns) {\n  if (p.test(message)) {\n    return {\n      json: {\n        skipAgent: true,\n        skipReason: 'info_only',\n        message: message,\n        logId: logId,\n        threadTs: threadTs,\n        responseText: '📝 情報を受け取りました。担当者に連絡し、確認後ご連絡いたします。'\n      }\n    };\n  }\n}\n\nconst cleanMsg = message.replace(/[\\n\\r]/g, ' ').trim();\nif (cleanMsg.length <= 30 && /^[\\d\\w@\\.\\-]+$/.test(cleanMsg)) {\n  return {\n    json: {\n      skipAgent: true,\n      skipReason: 'short_data',\n      message: message,\n      logId: logId,\n      threadTs: threadTs,\n      responseText: '📝 情報を受け取りました。確認いたします。'\n    }\n  };\n}\n\nreturn {\n  json: {\n    skipAgent: false,\n    message: message,\n    logId: logId,\n    threadTs: threadTs\n  }\n};"
      },
      "id": "check-skip-agent-001",
      "name": "Check Skip Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, -200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json.skipAgent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-skip-agent-001",
      "name": "Skip Agent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-300, -200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE app.helpdesk_logs\nSET ai_response_text = '{{ $json.responseText }}',\n    category = 'INFO_RECEIVED',\n    log_type = 'INFO_RECEIVED'\nWHERE id = {{ $json.logId }}",
        "options": {}
      },
      "id": "update-log-skip-001",
      "name": "Update Log (Skip)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-100, -350],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer xoxb-xxxx-xxxx-xxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Webhook').first().json.body.channel_id }}\",\n  \"thread_ts\": \"{{ $('Webhook').first().json.body.thread_ts }}\",\n  \"text\": \"{{ $('Check Skip Agent').first().json.responseText }}\"\n}",
        "options": {}
      },
      "id": "slack-skip-response-001",
      "name": "Slack - Skip Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [100, -350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_type, message, ai_response_text, status\nFROM app.helpdesk_logs\nWHERE thread_ts = '{{ $('Webhook').first().json.body.thread_ts }}'\n  AND thread_ts != ''\n  AND log_type IN ('INQUIRY', 'AI_RESPONSE')\nORDER BY created_at ASC\nLIMIT 20",
        "options": {}
      },
      "id": "fetch-history-001",
      "name": "Fetch Conversation History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-100, -100],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json.body;\nconst historyRows = $('Fetch Conversation History').all();\nconst currentMessage = webhookData.message;\n\nconst messages = [];\n\nfunction sanitizeText(text) {\n  if (!text) return '';\n  return String(text)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\"/g, '\\\\\"')\n    .replace(/\\n/g, '\\\\n')\n    .replace(/\\r/g, '\\\\r')\n    .replace(/\\t/g, '\\\\t');\n}\n\nfor (const row of historyRows) {\n  if (row.json.log_type === 'INQUIRY') {\n    messages.push({\n      role: 'user',\n      content: [{ type: 'text', text: sanitizeText(row.json.message) }]\n    });\n  } else if (row.json.log_type === 'AI_RESPONSE' && row.json.ai_response_text) {\n    messages.push({\n      role: 'assistant',\n      content: [{ type: 'text', text: sanitizeText(row.json.ai_response_text) }]\n    });\n  }\n}\n\nmessages.push({\n  role: 'user',\n  content: [{ type: 'text', text: sanitizeText(currentMessage) }]\n});\n\nconst payload = JSON.stringify({ messages });\nconst escapedPayload = payload.replace(/'/g, \"''\");\n\nreturn {\n  json: {\n    messages,\n    messageCount: messages.length,\n    isMultiTurn: messages.length > 1,\n    agentPayload: escapedPayload\n  }\n};"
      },
      "id": "build-messages-001",
      "name": "Build Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, -100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT SNOWFLAKE.CORTEX.DATA_AGENT_RUN(\n  'HELPDESK_DB.APP.HELPDESK_AGENT',\n  '{{ $json.agentPayload }}'\n) AS response;"
      },
      "id": "56f1942d-6dc4-4583-b3b8-66b9ac091819",
      "name": "Call Cortex Agent",
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [300, -100],
      "credentials": {
        "snowflake": {
          "id": "y23VaUVNHhdumfkZ",
          "name": "Snowflake account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\nconst logId = $('Log Inquiry').first().json.id;\nconst messageInfo = $('Build Messages').first().json;\n\ntry {\n  const agentResponse = JSON.parse(response.RESPONSE || response.response || '{}');\n  \n  const metadata = agentResponse.metadata || {};\n  const tokensConsumed = metadata.usage?.tokens_consumed?.[0] || {};\n  const tokensInput = tokensConsumed.input_tokens?.total || 0;\n  const tokensOutput = tokensConsumed.output_tokens?.total || 0;\n  const modelName = tokensConsumed.model_name || 'unknown';\n  \n  const contentArray = agentResponse.content || [];\n  \n  const toolResult = contentArray.find(c => c.type === 'tool_result');\n  const searchResults = toolResult?.tool_result?.content?.[0]?.json?.search_results || [];\n  const matchedKbIds = searchResults.map(r => r.id || r.kb_id).filter(Boolean).join(',');\n  const confidenceScores = searchResults.map(r => ({\n    id: r.id || r.kb_id,\n    score: parseFloat(r['@CONFIDENCE_SCORE'] || r.columns?.['@CONFIDENCE_SCORE'] || '0'),\n    text: (r.text || r.question || '').substring(0, 100)\n  }));\n  \n  const textContent = contentArray.find(c => c.type === 'text');\n  const content = textContent?.text || '';\n  \n  let parsed = {};\n  let aiResponseText = '';\n  \n  const jsonMatch = content.match(/```json\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[1]);\n    } catch (e) {\n      const rawMatch = content.match(/\\{[\\s\\S]*\"escalation_team\"[\\s\\S]*?\\}/);\n      if (rawMatch) parsed = JSON.parse(rawMatch[0]);\n    }\n    aiResponseText = content.split('```').pop()?.trim().replace(/^[-\\s]+/, '') || '';\n  } else {\n    const rawMatch = content.match(/\\{[\\s\\S]*\"response\"[\\s\\S]*?\\}/);\n    if (rawMatch) {\n      try { parsed = JSON.parse(rawMatch[0]); } catch(e) {}\n    }\n    aiResponseText = content;\n  }\n  \n  const summary = parsed.summary || '問い合わせ内容';\n  const category = parsed.category || 'OTHER';\n  const priority = parsed.priority || 'MEDIUM';\n  const needsEscalation = parsed.needs_escalation === true || parsed.needsEscalation === true;\n  const escalationTeam = parsed.escalation_team || parsed.escalationTeam || null;\n  const resolutionSteps = JSON.stringify(parsed.resolution_steps || parsed.resolutionSteps || []);\n  \n  return {\n    json: {\n      inquiry_log_id: logId,\n      user_id: webhookData.user_id,\n      channel_id: webhookData.channel_id,\n      thread_ts: webhookData.thread_ts || '',\n      original_message: webhookData.message,\n      category: category,\n      priority: priority,\n      summary: summary,\n      ai_response_text: aiResponseText || content,\n      raw_response: content,\n      needs_escalation: needsEscalation,\n      escalation_team: escalationTeam,\n      resolution_steps: resolutionSteps,\n      matched_kb_ids: matchedKbIds,\n      confidence_scores: JSON.stringify(confidenceScores),\n      tokens_input: tokensInput,\n      tokens_output: tokensOutput,\n      model_name: modelName,\n      raw_agent_response: JSON.stringify(agentResponse),\n      turn_number: messageInfo.messageCount,\n      is_multi_turn: messageInfo.isMultiTurn\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      inquiry_log_id: logId,\n      user_id: webhookData.user_id,\n      channel_id: webhookData.channel_id,\n      thread_ts: webhookData.thread_ts || '',\n      original_message: webhookData.message,\n      category: 'ERROR',\n      priority: 'HIGH',\n      summary: 'エラーが発生しました',\n      ai_response_text: '申し訳ありません。処理中にエラーが発生しました。担当者に連絡いたします。',\n      raw_response: '',\n      needs_escalation: true,\n      escalation_team: 'IT_SUPPORT',\n      resolution_steps: '[]',\n      matched_kb_ids: '',\n      confidence_scores: '[]',\n      tokens_input: 0,\n      tokens_output: 0,\n      model_name: 'unknown',\n      raw_agent_response: JSON.stringify({ error: error.message }),\n      turn_number: 1,\n      is_multi_turn: false\n    }\n  };\n}"
      },
      "id": "0543556e-3cfb-46d5-b8a8-d795f52bb4bb",
      "name": "Parse Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, -100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.helpdesk_logs (\n  log_type, inquiry_id, user_id, channel_id, message, category, priority, summary,\n  ai_response_text, thread_ts, turn_number, is_multi_turn, status, created_at\n)\nVALUES (\n  'AI_RESPONSE',\n  {{ $json.inquiry_log_id }},\n  '{{ $json.user_id }}',\n  '{{ $json.channel_id }}',\n  '{{ $json.original_message.replace(/'/g, \"''\") }}',\n  '{{ $json.category }}',\n  '{{ $json.priority }}',\n  '{{ ($json.summary || \"\").replace(/'/g, \"''\") }}',\n  '{{ ($json.ai_response_text || \"\").replace(/'/g, \"''\") }}',\n  '{{ $json.thread_ts }}',\n  {{ $json.turn_number || 1 }},\n  {{ $json.is_multi_turn || false }},\n  'IN_PROGRESS',\n  NOW()\n)\nRETURNING id",
        "options": {}
      },
      "id": "a436235b-b084-4736-bb02-d5b12a44654c",
      "name": "Log AI Response",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, -100],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.helpdesk_tickets (ticket_id, reporter_name, issue_type, urgency, summary, source_channel, status, thread_ts, log_id, created_at)\nVALUES ('GEN-' || TO_CHAR(NOW(), 'YYYYMMDD-HH24MISS'), '{{ $('Parse Agent Response').first().json.user_id }}', '{{ $('Parse Agent Response').first().json.category }}', '{{ $('Parse Agent Response').first().json.priority }}', '{{ ($('Parse Agent Response').first().json.summary || \"\").replace(/'/g, \"''\") }}', 'slack', 'OPEN', '{{ $('Parse Agent Response').first().json.thread_ts }}', {{ $json.id }}, NOW())\nRETURNING ticket_id",
        "options": {}
      },
      "id": "create-ticket-auto",
      "name": "Create General Ticket",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, -100],
      "credentials": {
        "postgres": {
          "id": "QtnUrn5MgHNRa1Vo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer xoxb-xxxx-xxxx-xxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function() {\n  const turnNumber = $('Parse Agent Response').first().json.turn_number || 1;\n  const isFirstTurn = turnNumber === 1;\n  let aiText = ($('Parse Agent Response').first().json.ai_response_text || '').substring(0, 2900);\n  aiText = aiText.replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"');\n  const logId = $('Log AI Response').first().json.id;\n  const ticketId = $json.ticket_id;\n  const category = $('Parse Agent Response').first().json.category;\n  const priority = $('Parse Agent Response').first().json.priority;\n  const channelId = $('Parse Agent Response').first().json.channel_id;\n  const threadTs = $('Parse Agent Response').first().json.thread_ts;\n\n  const blocks = [\n    { type: 'section', text: { type: 'mrkdwn', text: ':question: *その他AI回答*' } },\n    { type: 'context', elements: [{ type: 'mrkdwn', text: ':ticket: チケット: `' + ticketId + '`' }] },\n    { type: 'section', text: { type: 'mrkdwn', text: aiText } },\n    { type: 'divider' },\n    { type: 'context', elements: [{ type: 'mrkdwn', text: ':label: ' + category + ' | :zap: ' + priority }] },\n    { type: 'section', text: { type: 'mrkdwn', text: 'この回答は役に立ちましたか？' } }\n  ];\n\n  const actionElements = [\n    { type: 'button', text: { type: 'plain_text', text: '✅ 解決しました' }, style: 'primary', action_id: 'resolved', value: JSON.stringify({ log_id: logId, ticket_id: ticketId, category: 'general' }) }\n  ];\n\n  if (isFirstTurn) {\n    actionElements.push({ type: 'button', text: { type: 'plain_text', text: '🚨 エスカレーション' }, style: 'danger', action_id: 'escalate', value: JSON.stringify({ log_id: logId, ticket_id: ticketId, category: 'general' }) });\n  }\n\n  blocks.push({ type: 'actions', block_id: 'general_feedback_' + logId, elements: actionElements });\n\n  return JSON.stringify({ channel: channelId, thread_ts: threadTs, text: 'AI回答', blocks: blocks });\n})() }}",
        "options": {}
      },
      "id": "cf387f20-6a13-444e-b698-ce42e41d2f22",
      "name": "Slack - AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Slack": {
      "main": [
        [
          {
            "node": "Log Inquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Inquiry": {
      "main": [
        [
          {
            "node": "Check Skip Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Skip Agent": {
      "main": [
        [
          {
            "node": "Skip Agent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Agent?": {
      "main": [
        [
          {
            "node": "Update Log (Skip)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Log (Skip)": {
      "main": [
        [
          {
            "node": "Slack - Skip Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Conversation History": {
      "main": [
        [
          {
            "node": "Build Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Messages": {
      "main": [
        [
          {
            "node": "Call Cortex Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Cortex Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Response": {
      "main": [
        [
          {
            "node": "Log AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Response": {
      "main": [
        [
          {
            "node": "Create General Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create General Ticket": {
      "main": [
        [
          {
            "node": "Slack - AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbec573c5b0279529dac49102680520d48f79d9a8b6d53b18863248a9b7c9ed3"
  },
  "id": null,
  "tags": []
}
