n8n_workflows/IT_Helpdesk_Agent.json
{
  "name": "IT Helpdesk - Snowflake Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "helpdesk",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-it",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1100, -200],
      "webhookId": "helpdesk"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": {}
      },
      "id": "respond-slack",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-900, -200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.helpdesk_logs (log_type, user_id, channel_id, message, thread_ts, status, category, created_at)\nVALUES (\n  'INQUIRY',\n  '{{ $('Webhook').first().json.body.user_id }}',\n  '{{ $('Webhook').first().json.body.channel_id }}',\n  '{{ ($('Webhook').first().json.body.message || '').replace(/'/g, \"''\") }}',\n  '{{ $('Webhook').first().json.body.thread_ts || '' }}',\n  'OPEN',\n  'IT',\n  NOW()\n)\nRETURNING id",
        "options": {}
      },
      "id": "log-inquiry",
      "name": "Log Inquiry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-700, -200],
      "credentials": { "postgres": { "id": "QtnUrn5MgHNRa1Vo", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json.body;\nconst message = (webhookData.message || '').trim();\nconst logId = $('Log Inquiry').first().json.id;\nconst threadTs = webhookData.thread_ts || '';\n\nconst thankPatterns = [/^(ありがとう|有難う|感謝|サンクス|thanks|thank you)/i, /^(了解|りょうかい|わかりました|承知|ok|オッケー)/i];\nfor (const p of thankPatterns) {\n  if (p.test(message)) {\n    return { json: { skipAgent: true, message, logId, threadTs, responseText: '👍 ご連絡ありがとうございます。他にご質問があればお気軽にどうぞ！' } };\n  }\n}\nreturn { json: { skipAgent: false, message, logId, threadTs } };"
      },
      "id": "check-skip",
      "name": "Check Skip Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, -200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "skip", "leftValue": "={{ $json.skipAgent }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-skip",
      "name": "Skip Agent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-300, -200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE app.helpdesk_logs SET ai_response_text = '{{ $json.responseText }}', log_type = 'INFO_RECEIVED' WHERE id = {{ $json.logId }}",
        "options": {}
      },
      "id": "update-skip",
      "name": "Update Log (Skip)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-100, -350],
      "credentials": { "postgres": { "id": "QtnUrn5MgHNRa1Vo", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer xoxb-xxxx-xxxx-xxxx" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"channel\": \"{{ $('Webhook').first().json.body.channel_id }}\", \"thread_ts\": \"{{ $('Webhook').first().json.body.thread_ts }}\", \"text\": \"{{ $('Check Skip Agent').first().json.responseText }}\" }",
        "options": {}
      },
      "id": "slack-skip",
      "name": "Slack - Skip Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [100, -350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_type, message, ai_response_text, status FROM app.helpdesk_logs WHERE thread_ts = '{{ $('Webhook').first().json.body.thread_ts }}' AND thread_ts != '' AND log_type IN ('INQUIRY', 'AI_RESPONSE') ORDER BY created_at ASC LIMIT 20",
        "options": {}
      },
      "id": "fetch-history",
      "name": "Fetch Conversation History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-100, -100],
      "credentials": { "postgres": { "id": "QtnUrn5MgHNRa1Vo", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json.body;\nconst historyRows = $('Fetch Conversation History').all();\nconst currentMessage = webhookData.message;\nconst messages = [];\nfunction sanitizeText(text) { if (!text) return ''; return String(text).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n'); }\nfor (const row of historyRows) {\n  if (row.json.log_type === 'INQUIRY') { messages.push({ role: 'user', content: [{ type: 'text', text: sanitizeText(row.json.message) }] }); }\n  else if (row.json.log_type === 'AI_RESPONSE' && row.json.ai_response_text) { messages.push({ role: 'assistant', content: [{ type: 'text', text: sanitizeText(row.json.ai_response_text) }] }); }\n}\nmessages.push({ role: 'user', content: [{ type: 'text', text: sanitizeText(currentMessage) }] });\nconst payload = JSON.stringify({ messages });\nreturn { json: { messages, messageCount: messages.length, isMultiTurn: messages.length > 1, agentPayload: payload.replace(/'/g, \"''\") } };"
      },
      "id": "build-messages",
      "name": "Build Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, -100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT SNOWFLAKE.CORTEX.DATA_AGENT_RUN('HELPDESK_DB.APP.HELPDESK_AGENT', '{{ $json.agentPayload }}') AS response;"
      },
      "id": "call-agent",
      "name": "Call Cortex Agent",
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [300, -100],
      "credentials": { "snowflake": { "id": "y23VaUVNHhdumfkZ", "name": "Snowflake account" } }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\nconst logId = $('Log Inquiry').first().json.id;\nconst messageInfo = $('Build Messages').first().json;\ntry {\n  const agentResponse = JSON.parse(response.RESPONSE || response.response || '{}');\n  const contentArray = agentResponse.content || [];\n  const textContent = contentArray.find(c => c.type === 'text');\n  const content = textContent?.text || '';\n  let aiResponseText = content;\n  const jsonMatch = content.match(/```json\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) { aiResponseText = content.split('```').pop()?.trim().replace(/^[-\\s]+/, '') || content; }\n  return { json: { inquiry_log_id: logId, user_id: webhookData.user_id, channel_id: webhookData.channel_id, thread_ts: webhookData.thread_ts || '', original_message: webhookData.message || '', category: 'IT', priority: 'MEDIUM', summary: (webhookData.message || '').substring(0, 100), ai_response_text: aiResponseText, turn_number: messageInfo.messageCount, is_multi_turn: messageInfo.isMultiTurn } };\n} catch (e) { return { json: { inquiry_log_id: logId, user_id: webhookData.user_id, channel_id: webhookData.channel_id, thread_ts: webhookData.thread_ts || '', original_message: webhookData.message || '', category: 'IT', priority: 'MEDIUM', summary: 'Error', ai_response_text: 'エラーが発生しました。担当者に連絡します。', turn_number: 1, is_multi_turn: false } }; }"
      },
      "id": "parse-response",
      "name": "Parse Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, -100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.helpdesk_logs (log_type, inquiry_id, user_id, channel_id, message, category, priority, summary, ai_response_text, thread_ts, turn_number, is_multi_turn, status, created_at)\nVALUES ('AI_RESPONSE', {{ $json.inquiry_log_id }}, '{{ $json.user_id }}', '{{ $json.channel_id }}', '{{ $json.original_message.replace(/'/g, \"''\") }}', '{{ $json.category }}', '{{ $json.priority }}', '{{ ($json.summary || \"\").replace(/'/g, \"''\") }}', '{{ ($json.ai_response_text || \"\").replace(/'/g, \"''\") }}', '{{ $json.thread_ts }}', {{ $json.turn_number || 1 }}, {{ $json.is_multi_turn || false }}, 'IN_PROGRESS', NOW())\nRETURNING id",
        "options": {}
      },
      "id": "log-ai",
      "name": "Log AI Response",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, -100],
      "credentials": { "postgres": { "id": "QtnUrn5MgHNRa1Vo", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.helpdesk_tickets (ticket_id, reporter_name, issue_type, urgency, summary, source_channel, status, thread_ts, log_id, created_at)\nVALUES ('IT-' || TO_CHAR(NOW(), 'YYYYMMDD-HH24MISS'), '{{ $('Parse Agent Response').first().json.user_id }}', '{{ $('Parse Agent Response').first().json.category }}', '{{ $('Parse Agent Response').first().json.priority }}', '{{ ($('Parse Agent Response').first().json.summary || \"\").replace(/'/g, \"''\") }}', 'slack', 'OPEN', '{{ $('Parse Agent Response').first().json.thread_ts }}', {{ $json.id }}, NOW())\nRETURNING ticket_id",
        "options": {}
      },
      "id": "create-ticket",
      "name": "Create IT Ticket",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, -100],
      "credentials": { "postgres": { "id": "QtnUrn5MgHNRa1Vo", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer xoxb-xxxx-xxxx-xxxx" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function() {\n  const turnNumber = $('Parse Agent Response').first().json.turn_number || 1;\n  const isFirstTurn = turnNumber === 1;\n  let aiText = ($('Parse Agent Response').first().json.ai_response_text || '').substring(0, 2900);\n  aiText = aiText.replace(/\\\\n/g, '\\n').replace(/\\\"/g, '\"');\n  const logId = $('Log AI Response').first().json.id;\n  const ticketId = $json.ticket_id;\n  const category = $('Parse Agent Response').first().json.category;\n  const priority = $('Parse Agent Response').first().json.priority;\n  const channelId = $('Parse Agent Response').first().json.channel_id;\n  const threadTs = $('Parse Agent Response').first().json.thread_ts;\n\n  const blocks = [\n    { type: 'section', text: { type: 'mrkdwn', text: ':robot_face: *IT AI回答*' } },\n    { type: 'section', text: { type: 'mrkdwn', text: aiText } },\n    { type: 'divider' },\n    { type: 'context', elements: [{ type: 'mrkdwn', text: ':ticket: チケット: `' + ticketId + '` | :label: ' + category + ' | :zap: ' + priority }] },\n    { type: 'section', text: { type: 'mrkdwn', text: 'この回答は役に立ちましたか？' } }\n  ];\n\n  const actionElements = [\n    { type: 'button', text: { type: 'plain_text', text: '✅ 解決しました' }, style: 'primary', action_id: 'resolved', value: JSON.stringify({ log_id: logId, ticket_id: ticketId, category: 'it' }) }\n  ];\n  if (isFirstTurn) {\n    actionElements.push({ type: 'button', text: { type: 'plain_text', text: '🚨 エスカレーション' }, style: 'danger', action_id: 'escalate', value: JSON.stringify({ log_id: logId, ticket_id: ticketId, category: 'it' }) });\n  }\n  blocks.push({ type: 'actions', block_id: 'it_feedback_' + logId, elements: actionElements });\n\n  return JSON.stringify({ channel: channelId, thread_ts: threadTs, text: 'AI回答', blocks: blocks });\n})() }}",
        "options": {}
      },
      "id": "slack-response",
      "name": "Slack - AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Respond to Slack", "type": "main", "index": 0 }]] },
    "Respond to Slack": { "main": [[{ "node": "Log Inquiry", "type": "main", "index": 0 }]] },
    "Log Inquiry": { "main": [[{ "node": "Check Skip Agent", "type": "main", "index": 0 }]] },
    "Check Skip Agent": { "main": [[{ "node": "Skip Agent?", "type": "main", "index": 0 }]] },
    "Skip Agent?": { "main": [[{ "node": "Update Log (Skip)", "type": "main", "index": 0 }], [{ "node": "Fetch Conversation History", "type": "main", "index": 0 }]] },
    "Update Log (Skip)": { "main": [[{ "node": "Slack - Skip Response", "type": "main", "index": 0 }]] },
    "Fetch Conversation History": { "main": [[{ "node": "Build Messages", "type": "main", "index": 0 }]] },
    "Build Messages": { "main": [[{ "node": "Call Cortex Agent", "type": "main", "index": 0 }]] },
    "Call Cortex Agent": { "main": [[{ "node": "Parse Agent Response", "type": "main", "index": 0 }]] },
    "Parse Agent Response": { "main": [[{ "node": "Log AI Response", "type": "main", "index": 0 }]] },
    "Log AI Response": { "main": [[{ "node": "Create IT Ticket", "type": "main", "index": 0 }]] },
    "Create IT Ticket": { "main": [[{ "node": "Slack - AI Response", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
